<div class="bigbox">
  <div class="index-bg">

  </div>
  <div class="index-logo">

  </div>
  <ul class="navbox">
    <li>
      <a class="products" routerLink='/product'>
        <dl>
          <dt>
          </dt>
          <dd>产品中心</dd>
        </dl>
      </a>
    </li>
    <li>
      <a href="" class="design">
        <dl>
          <dt>
          </dt>
          <dd>设计师</dd>
        </dl>
      </a>
    </li>
    <li>
      <a href="" class="agent-check">
        <dl>
          <dt>
          </dt>
          <dd>代理查询</dd>
        </dl>
      </a>
    </li>
    <li>
      <a href="" class="agent">
        <dl>
          <dt>
          </dt>
          <dd>代理登录</dd>
        </dl>
      </a>
    </li>
    <li>
      <a href="" class="send-goods">
        <dl>
          <dt>
          </dt>
          <dd>发货</dd>
        </dl>
      </a>
    </li>
    <li>
      <a href="" class="copyright">
        <dl>
          <dt>
          </dt>
          <dd>防伪查询</dd>
        </dl>
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>